body {
  background-color: #C38D9E;
}

h1 {
  color: white;
  text-align: center;
  font-style: ;
}
h3 {
  color: white;
  font-style: italic;
}
p {
  font-family: verdana;
  font-size: 20px;
  font-style: italic;
}